<!DOCTYPE html>
<html>
    <head>
        <title>RealizmModz - Main</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link rel="stylesheet" href="style/css/index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bungee&display=swap">
        <script defer src="./js/noclick.js"></script>
    </head>
    <body>
        

        
    <img class="bg" id="bg" src="./style/img/background.png" onmousedown = 'return false' onselectstart = 'return false' oncopy = 'return false' oncut = 'return false'>
        
        <div id="navbar">
            <a class="inactive" href="#">Robox Scripts</a>
            <a class="inactive" href="#">YouTube</a>
            <a class="inactive" href="#">Discord</a>
            <a class="active"href="#">Main</a>
</div>
        <a href="javascript:void(0)" class="Realism" id="Realism" onmousedown = 'return false' onselectstart = 'return false' oncopy = 'return false' oncut = 'return false'>Realizm</a>
<div class="TK" id="TK" onmousedown = 'return false' onselectstart = 'return false' oncopy = 'return false' oncut = 'return false'>Modz</div>
        
    </body>
</html>