<!DOCTYPE html>
<html>
    <head>
        <title>Realism - Discord</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link rel="stylesheet" href="https://realism.tk/css/discord.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bungee&display=swap">
        <script defer src="https://realism.tk/js/noclick.js"></script>
    </head>
    <body>
        

        
    <img class="bg" id="bg" src="https://realism.tk/img/background.png" onmousedown = 'return false' onselectstart = 'return false' oncopy = 'return false' oncut = 'return false'>
        
        <div id="navbar">
            <a class="inactive" href="https://realism.tk/roblox-scripts/">Robox Scripts</a>
            <a class="inactive" href="https://realism.tk/youtube/">YouTube</a>
            <a class="active" href="https://realism.tk/discord/">Discord</a>
            <a class="inactive"href="https://realism.tk/">Main</a>
</div>
        <a href="https://realism.tk/" class="Realism" id="Realism" onmousedown = 'return false' onselectstart = 'return false' oncopy = 'return false' oncut = 'return false'>Realism</a>
<div class="TK" id="TK" onmousedown = 'return false' onselectstart = 'return false' oncopy = 'return false' oncut = 'return false'>.tk</div>
        
    </body>
</html>
