body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.bg
{
    position: fixed;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    z-index: -1;
    -youbkit-touch-callout: none;
	-youbkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.Realism
{
    font-family: 'Bungee';
    font-size: 60px;
    color: rgb(210,210,210);
    display: inline-block;
    position: relative;
    top: -110px;
    -youbkit-touch-callout: none;
	-youbkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    transition: .3s;
    text-decoration: none;
}
.Realism:hover
{
    color: mediumpurple;
    cursor: pointer;
}

.TK
{
    display: inline-block;
    font-family: 'Bungee';
    font-size: 60px;
    color: mediumpurple;
    position: relative;
    top: -110px;
    -youbkit-touch-callout: none;
	-youbkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


#navbar {
  overflow: hidden;
  background-color: indigo;
}

#navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-size: 17px;
    transition: .3s;
}


#navbar a.active
{
    background-color: mediumpurple;
    color: white;


}
#navbar a.active:hover
{
    background-color: rebeccapurple;
}

#navbar a.inactive {
  background-color: indigo;
  color: white;
}
#navbar a.inactive:hover
{
  background-color: rebeccapurple;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}